-r requirements-prod.in

# Revisión Código
# ~~~~~~~~~~~~~~~
autopep8
flake8
flake8-blind-except
flake8-debugger
flake8-docstrings
flake8-isort
flake8-polyfill
flake8-quotes
isort
pep8
pep8-naming
pyflakes

# Documentación
# ~~~~~~~~~~~~~
coverage
docutils
pycodestyle
pydocstyle
pytest
pytest-cov
pytest-pep8
pytest-pythonpath

# Utilidades varias
# ~~~~~~~~~~~~~~~~~
ipython
ipython-genutils
jedi
pip-tools
termcolor
