
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <h1>Welcome</h1>

    <p>Mensaje de bienvenida.</p>
</div>

<div class="body-content">
    <div class="row">
        <div class="col-lg-4">
            <h2><i class="fa fa-code"></i> A</h2>
        </div>
        <div class="col-lg-4">
            <h2><i class="fa fa-flask"></i> B</h2>
        </div>
        <div class="col-lg-4">
            <h2><i class="fa fa-edit"></i> C</h2>
        </div>
    </div>
</div>

{% endblock %}

